<?xml version="1.0"?> 
<config>
    <modules>
        <Inchoo_SupportForm>
            <version>0.1.0</version>
        </Inchoo_SupportForm>
    </modules>   
 
    <frontend>
        <routers>
            <supportform>
                <use>standard</use>
                <args>
                    <module>Inchoo_SupportForm</module>
                    <frontName>supportform</frontName>
                </args>				
            </supportform>
        </routers>
    </frontend>    
</config>